/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

/* globals */

.yellow{
  background: #f6c451;
}

.nopadding{
  padding:0px;
}

.margin{
  margin:0px;
}

.dark{
  background: #2c2a27;
}

p, label{
  font-family: 'Nunito', sans-serif;
  font-size:1.2em;
}

h1{
  text-transform: uppercase;
  font-size: 3.6em;
  font-weight: bold;
}

h2{
  text-transform: uppercase;
}

.main_h1{
  margin-left: 25px;
}

.section_spacing{
  padding-top:150px;
  padding-bottom:150px;
}

.element_spacing{
  margin-top:75px;
}

/* endglobals */

/* NAV STYLING */

nav .breadcrumb{
  margin-top:20px;
  background:none;
}

nav .navbar-brand{
  margin-top: 14px;
}

.navbar-default{
  background:none;
  border:none;
}

nav a, .navbar-default .navbar-brand{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: bold;
}

nav a:hover, .navbar-default .navbar-brand:hover {
  color: #f6c451;
}

/* END NAV STYLING */

/* landing */
#landing_container{
  background-image: url('../images/landing.jpg');
  background-size: cover;
  background-position: 50% 50%;
  margin-top:-96px;
}

#testimonial{

  background-color: rgba(34, 34, 34, 0.86);
  padding:10px 20px 10px 20px;
}

#testimonial h1{
  color: #f6c451;
  font-size:3.5em;
  text-transform: uppercase;
  font-weight: bold;
}

#testimonial p{
  color: white;
  font-size:1.3em;
}

/* endlanding */

/* uslugi */
.usluga{
  padding:10px;


}
.usluga_inner{
  cursor: pointer;
  min-height: 320px;
  background-color: #ffd573;
  text-align: center;
  padding:30px 15px 0px 15px;
}

.usluga p{
  margin-top:25px;
  font-weight: bold;
  text-transform: uppercase;
  font-size:1.2em;
}

.usluga img{
  max-width: 180px;
}

.usluga_tooltip{

  width:100%;
}

#usluga_bg{
  padding:10px;
  background: #ffd573;
}

.arrow {
    background-image: url('../images/arrow_up.png');
    height:34px;
    width:97px;
    margin-left: 86px;
}
/* enduslugi */

/* za nas */
.about_text p{
  margin-top:30px;
}
/* endzanas */

/* gallery */

#gallery img{
  width:100%;
}

.square_image{
  margin-bottom:30px;
}
/* endgallery */

/* contact */
.dark h1, .dark h2{
  color:white;
}

.dark p{
  color:white;
  font-weight: bold;
}

#map {
 height: 400px;
 width: 100%;
}

.dark label{
  color:white;
}

.dark input[type=text]{
  height: 60px;
}

.dark input[type=text], .dark textarea{
  display: block;
  width:100%;
  color:white;
  padding:10px;
  background-color: #2c2a27;
  outline: 0;
  border: 1px solid #747474;
}

#form_submit_button{
  background-color: #f6eb60;
  height: 50px;
  width:300px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  padding-left:20px;
}

#map iframe{
  pointer-events: none;
}
/* endcontact */
